$primary-color: rgba(255, 255, 255, 0.87);
$secondary-color: #242424;
$highlight-color: rgb(85, 85, 218);
$dark-background: antiquewhite;
$font-family: 'Source Sans Pro', sans-serif;
$font-size-base: 1rem;
$font-size-heading: 40px;

body {
  font-family: $font-family;
  line-height: 1.5;
  font-weight:bolder;
  color-scheme: light dark;
  color: $primary-color;
  background-color: $secondary-color;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
}
.section__article-innerarticle {
  display: flex;
  flex-direction: row;
  margin-bottom: 2rem;
  align-items: flex-start;
}
.section__article-div {
.section__article-div {
    display: flex;
    justify-content: center;
    margin-top: 0;
  }
}
.section__podlist-button.toggle-btn {  
  margin-bottom: 1.5rem;
}
.section__podlist-button {  
  background-color: aqua;
  color:black;
  font-weight: bold;
  border: none;
  width: 100%;
  max-width: 15%;
  height: auto;
  padding: 0.5rem;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: row;
  white-space: nowrap;
  margin: 0 auto;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 5px 4px 10px darkblue;
  border-radius: 10px;    
}
.section__podlist-button:hover {  
  box-shadow: 4px 4px 5px rgba(0,0,0,0.4);
  transition: background-color 0.3s ease;
  color:rgb(0, 187, 255);
  transform: translateY(4px);
  transition: all 0.3s ease;
  background-color: black;
  }  
img {
  margin: 0.5rem;
}
h1, h2, p {
  text-align: left;
  padding: 0;
  margin: 0;
}
h1 {
  font-size: 1.5rem;
}

h2 {
  font-size: 1.25rem;
  }
p {
  font-size: 1rem;
}
a {
  color: $primary-color;
  cursor: pointer;

  &:active, &:hover {
    color: rgb(169, 81, 251);
  }
}
.darkmode {
  background-color: $dark-background;
  color: $secondary-color;

  .section__podlist-button {
    background-color: turquoise; 
    color: black;
  }

  a {
    color: $secondary-color;
    &:active, &:hover {
      color: $highlight-color;
    }
  }
}

.podcast-btn {
  margin: 5px;
  padding: 5px;
}

@media screen and (max-width: 600px) {
  body {
    font-size: 0.875rem;
  }

  h1 {
    font-size: 1.2rem;
  }

  .section__podlist-pods {
    display: block;
  }

  .section__article-innerarticle {
    flex-direction: column;
  }
  
.section__podlist-button {
  background-color: aqua;
  width: 100%;
  max-width: 200px;
  padding: 0.5rem;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  white-space: nowrap;
  text-align: center;
}
}

@media screen and (min-width: 600px) and (max-width: 900px) {
  body {
    font-size: 1rem;
  }
  h1 {
    font-size: 1.75rem;
  }
    .section__podlist-button {
      background-color: aqua;
      width: 100%;
      max-width: 30%;
      padding: 1rem;
      align-items: center;
      justify-content: center;
      flex-direction: row;
      white-space: nowrap;
    }
  .section__podlist-pods {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .section__article-innerarticle {
    flex-direction: row;
  }
}
@media screen and (min-width: 1000px) {
  .section__podlist-pods {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem; 
    
  }
}

@media screen and (min-width: 1440px) {
  .section__podlist-pods {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;  
  }
}
